@keyframes appear
  0%
    opacity 0
  100%
    opacity 1

@keyframes topper-inner_appear
  0%
    transform scale(50)
  100%
    transform scale(1)

@keyframes topper--avatar_appear
  0%
    opacity 0
  50%
    opacity 0
  100%
    opacity 1
