// Global
$fontSize = 12px
$lineHeight = 2
$borderRadius = 4px
$maxWidth = 1366px
$gap = 2rem
$floatButtonHeight = 3rem
$sidePadding = $gap * 2 + $floatButtonHeight

// Topper
$pointdownHeight = 3.5rem
$topperHeight = 100vh
$topperInnerSize = 88vmin
$topperAvatarSize = 80vmin

// Header
$headerMinHeight = 6rem

// Footer
$pointupHeight = 3.5rem
$footerLineHeight = 3.75rem
$footerMinHeight = $footerLineHeight * 5

// Botter
$botterHeight = $gap * 3 + $floatButtonHeight * 2

// Nav
$navCardWidth = 320px

