zIndex(num)
  z-index 999999999 - num

// Global
$fontSize = 16px
$lineHeight = 2
$scrollbarSize = 12px
$scrollbarColorFront = #c1c1c1
$scrollbarColorBack = #f1f1f1
$gap = $fontSize * 3
$borderRadius = 4px
$floatingSize = $fontSize * 5
$maxWidth = 1280px
$minWidth = 320px
$sideWidth = 280px
$smallWidth = 640px + $sideWidth * 2 + $floatingSize * 2
$smallerWidth = 640px + $sideWidth + $floatingSize * 2
$smallestWidth = 640px + $floatingSize * 2

// Spinner
$spinnerSize = $fontSize * 4
$spinnerborderSize = $fontSize * 0.8

//Header
$headerHeight = $fontSize * 5