.GlobalLayout.skin-default
  // colors
  --clr-txt #505050
  --clr-txt-dark #000000
  --clr-bg #ffffff
  --clr-bg-dark #666666
  --clr-highlight #f1f1f1
  --clr-link #ff3300
  --clr-selection #cc66ff
  --clr-underline #00ccff

  // images
  --img-global-bg linear-gradient(120deg, #ff3300, #cc66ff, #00ccff)

.GlobalLayout.skin-lightgold
  // colors
  --clr-txt #333333
  --clr-txt-dark #cccccc
  --clr-bg lightgoldenrodyellow
  --clr-bg-dark #666666
  --clr-highlight palegoldenrod
  --clr-link goldenrod
  --clr-selection #cc66ff
  --clr-underline goldenrod

  // images
  --img-global-bg linear-gradient(120deg, lightgoldenrodyellow, gold, goldenrod)
  