.GlobalLayout.skin-default
  --txt #333333
  --bg #ffffff
  --bg-global #ffffff
  --highlight #f9f9f9
  --link #ff3300
  --link-markdown #0099ff
  --selection #cc66ff
  --underline #00ccff
  --launch-bg #ff3300
  --spinner #333333
  --spinner-bg #ffffff99
  --header #333333
  --header-bg #ffffff
  --translate-bg-highlight #00000033
  --article-language-bg #0099ff99
  --article-language-txt #ffffff
  --article-ending #dedede
  --article-license-bg #ff330011

.GlobalLayout.skin-whiteblack
  --txt #333333
  --bg #ffffff
  --bg-global #666666
  --highlight #eeeeee
  --link #ff3300
  --link-markdown #0099ff
  --selection #ff3300
  --underline #ff3300
  --launch-bg #ff3300
  --spinner #333333
  --spinner-bg #ffffff99
  --header #333333
  --header-bg #ffffff
  --translate-bg-highlight #00000066
  --article-language-bg #ff330099
  --article-language-txt #ffffff
  --article-ending #d1d1d1
  --article-license-bg #f9f9f9

.GlobalLayout.skin-jshine
  --txt #333333
  --bg #ffffff
  --bg-global linear-gradient(120deg, #ff3300, #cc66ff, #00ccff)
  --highlight #f1f1f1
  --link #ff3300
  --link-markdown #0099ff
  --selection #cc66ff
  --underline #00ccff
  --launch-bg #ff3300
  --spinner #666666
  --spinner-bg #ffffff99
  --header #333333
  --header-bg #ffffff
  --translate-bg-highlight #00000033
  --article-language-bg #00ccffaa
  --article-language-txt #ffffff
  --article-ending #dddddd
  --article-license-bg #ffffff00

.GlobalLayout.skin-memariani
  --txt #ffffff
  --bg #333333
  --bg-global linear-gradient(120deg, #cc6699, #6666cc, #33cccc)
  --highlight #666666
  --link #33cccc
  --link-markdown #00ccff
  --selection #ff99ff
  --underline #ff6699
  --launch-bg #ff3300
  --spinner #6666cc
  --spinner-bg #ffffff99
  --header #ffffff
  --header-bg #333333
  --translate-bg-highlight #ffffff33
  --article-language-bg #0099ff99
  --article-language-txt #ffffff
  --article-ending #666666
  --article-license-bg #ffffff00

.GlobalLayout.nightshift
  --txt #cccccc
  --bg #000000
  --bg-global linear-gradient(180deg, #000000, #111111, #111111, #222222)
  --highlight #333333
  --link #ff3300
  --link-markdown #00ccff
  --selection #cccccc
  --underline #666666
  --spinner #cccccc
  --spinner-bg #00000099
  --header #cccccc
  --header-bg #000000
  --translate-bg-highlight #ffffff11
  --article-language-bg #66666699
  --article-language-txt #cccccc
  --article-ending #333333
  --article-license-bg #333333
