.GlobalLayout.skin-default
  --txt #505050
  --bg #ffffff
  --bg-global #666666 //linear-gradient(120deg, #ff3300, #cc66ff, #00ccff)
  --highlight #f1f1f1
  --link #ff3300
  --selection #cc66ff
  --underline #00ccff
  --launch-bg #ff3300
  --spinner #505050
  --spinner-bg #ffffff99
  --header-bg #ffffff